

body{
    height: 1000px;
    position: relative;
    top:100px;
    bottom:100px;
    text-align: center;
   
    
}
.contanerApp{
    width:800px;
    height: 400px;
    border:2px solid black;
    border-radius: 10% ;
    border-top: 16px solid goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    left:250px;
}
.textInput{
  border-radius: 19px;
    font-size: 91%;
    padding: 2%;
}
  

.textInput:hover{
  border :2px solid goldenrod;
  border-radius: 19px;
    font-size: 91%;
    padding: 2%;
}
.tasks{
  background-color: white;
  border-radius: 8px;
  display: flex;
  justify-content:space-between;

}
.remove{
  border-radius: 50%;
  border: 2px solid goldenrod;
  color:red;
  cursor: pointer;
}
.remove:hover{
  background-color: goldenrod;
}
.spa{
  text-decoration: line-through;
}
.addTaskBtn{
  background-color: orangered;
  color:white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1rem;
}
.addTaskBtn:hover{
   border: 2px solid white;
}
.addTaskBtn:active{
  background-color: darkorange;
}
.clearBtn{
  background-color: goldenrod;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 1.6rem;
}
.clearBtn:hover{
  border: 2px solid white;
}
.clearBtn:active{
  background-color: darkgoldenrod;
}
.checkBox{
  cursor: pointer;
}

.itemsList{
  overflow-y: auto;
  overflow-x: hidden;
  width:400px;
  height: 130px;

}


@media(max-width:600px)
{

  body {
    height: 100vh;
    position: relative;
    top: 100px;
    bottom: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    flex-direction: column;
}
  .contanerApp {
    width: 88%;
    height: 51%;
    border: 2px solid black;
    border-radius: 10%;
    border-top: 16px solid goldenrod;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: relative;
    left: 0%;
}

.center{
  width: 100%;
}

.itemsList {
    overflow-y: auto;
    overflow-x: hidden;
    width: 87%;
    height: 141px;
}
}

